.Banner {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  background-color: rgb(240, 240, 240);
  width: 100%;
  z-index: 200; /* Ensure banner is in front of page header */
}

.Banner__content {
  margin-right: 63%; /* offset to the right maintaining the offset as it is resized */

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  padding: 5px;
}

.Banner__icon {
  object-fit: contain; /* Contains the icon */
  height: 20px; /* Adjust its height */
}
