.SearchBar {
  display: flex;
  justify-content: center;
}

.SearchBar input {
  border: 1px solid lightgray;
  height: 40px;
  width: 55%; /* Ensure when window shrinks, input box follows and preserve same size ratio */
  border-radius: 5px; /* Ensure rounded corners */
  padding-left: 20px; /* Ensure text typed inside input box does not start too close to the box border */
  padding-right: 40px; /* Ensure text typed inside input box does not overlap with X button */
}

.SearchBar button {
  height: 45px;
  width: fit-content; /* Ensure when window shrinks, SearchIcon and Search text still fits in button */
  margin-left: 2px; /* Ensure a tiny gap between SearchBar input and button */
  background-color: rgb(51, 119, 206);
  color: white;
  border-radius: 5px;
  text-transform: inherit; /* Ensure Search text is not all capitalized, but instead follows capitalization of given text value */
  padding: 0px 30px; /* Ensure size horizontal ratio between icon and text with button */
}

.SearchBar button:hover {
  background-color: rgb(13, 78, 139);
  border: 1px solid rgb(51, 119, 206);
}

.SearchBar__clearButton {
  position: relative; /* Set an anchor point relative to order of elements SearchBar, X Button, Search Button */
  top: 10px; /* Nudge upwards */
}

.SearchBar__clearIcon {
  position: absolute; /* Adjust position of X Button relative to anchor */
  right: 12px; /* Always absolute distance apart from relative anchor point */
}
