.LandingPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.LandingPage__header {
  display: flex;
  justify-content: center;
  padding: 30px 40px;
  align-items: center;
  /* min-width: 15vw; */
}
