.ResultsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.ResultsPage__banner {
  display: block;
  width: 100%;
}

.ResultsPage__header {
  position: sticky; /* Ensure that the header containing SearchBar remains on top */
  padding-top: 60px;
  padding-bottom: 30px;
  top: 8px;
  z-index: 100; /* Ensure that the header containing SearchBar remains on forefront */
  border-bottom: 1px solid lightgrey;
  box-shadow: 0px 8px 2px lightgrey; /* Ensure a blurry shadow behind the header area */
  background-color: white; /* Ensure that header remains solid and no words are see through when scrolling down */
}

.ResultsPage__body {
  display: flex;
  margin-top: 135%;
  margin-bottom: 15px;
  padding-left: 13%;
  max-width: 750px; /* Ensure when body expands, input box does not get too large */
}

.ResultsPage__result {
  margin-top: 20px;
  margin-bottom: 80px;
}

.ResultsPage__count {
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
}

.ResultsPage__result a {
  text-decoration: none;
}

.ResultsPage__highlightedText {
  font-weight: bold;
}
